extends ../layout
block content
    .container
        .row
            .panel.panel-default
                .panel-heading
                    h3 #{title}
                .panel-body
                    if movies && movies.length > 0
                        each item in movies
                            .col-md-2
                                .thumbnail
                                    a(href="/movie/#{item._id}",)
                                        img(src="#{item.poster}",alt="#{item.title}",style="width:150px;height:222px;")
                                    .caption
                                        h3(style="overflow: hidden;	white-space: nowrap;	text-overflow: ellipsis;", title="#{item.title}") #{item.title}
                                        p: a.btn.btn-primary.text-center(href="/movie/#{item._id}",role="button",style="width:130px;") ¹Û¿´


            ul.pagination.glyphicon-align-center
                li
                    a &laquo;
                li
                    a.active 1
                li
                    a.disabled 2
                li
                    a &raquo;